:root {
    --barlow: 'Barlow', sans-serif;
    --fraunces: 'Fraunces', serif;
    --color-dark-cyan: hsla(179, 81%, 29%, 1);
    --color-dark-cyan-hover: hsla(179, 55%, 61%, 1);
    --color-dark-grey-blue: hsla(216, 20%, 25%, 1);
    --color-pale-orange: hsla(25, 95%, 86%, 1);
    --color-light-cream: hsla(43, 78%, 98%, 1);
    --color-grey: hsla(215, 5%, 54%, 1);
    --color-white: hsla(0, 0%, 100%, 1);
    --color-grey-bg: hsla(216, 17%, 21%, 1);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    background-color: var(--color-light-cream);
}
