// // // // // // // // // // // // // // // // // // // //

.section {
    padding: 0 24px;
    margin-bottom: 120px;

    @media only screen and (min-width: 768px) {
    }

    @media only screen and (min-width: 1110px) {
    }
}

.wrapper {
    max-width: 500px;
    margin: 0 auto;
}

// // // // // // // // // // // // // // // // // // // //

.nav {
    display: none;
}

// // // // // // // // // // // // // // // // // // // //

.accordion {
    font-family: var(--fraunces);

    &__block {
        &:not(:last-child) {
            margin-bottom: 110px;
        }
    }

    &__btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        border: none;
        background-color: transparent;
        cursor: pointer;

        h2 {
            color: var(--color-grey);
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;
            text-align: left;
            pointer-events: none;
        }

        span {
            margin-left: 64px;
            pointer-events: none;
        }

        svg {
            transition: transform 0.15s;
        }

        &__disabled {
            opacity: 0.5;
        }
    }

    &__rotate {
        transform: rotate(180deg);
    }

    &__boxes {
        display: none;
        margin-top: 0;
        height: 0;
        opacity: 0;
        transition: height 0.25s, margin 0.25s;
    }

    &__box {
        color: var(--color-dark-grey-blue);

        height: 140px;
        border-radius: 8px;
        background-color: var(--color-grey-box);
        padding: 24px 25px;

        transition: background-color 0.15s;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        &:hover {
            background-color: var(--color-pale-orange);
        }

        h3 {
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 8px;
            pointer-events: none;
        }

        p {
            font-family: var(--barlow);
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            pointer-events: none;
        }

        &__active {
            background-color: var(--color-dark-cyan);

            h3 {
                color: var(--color-white);
            }

            p {
                color: var(--color-light-cream);
            }

            &:hover {
                background-color: var(--color-dark-cyan);
            }
        }
    }
}

.display {
    display: block;
}

.render {
    height: 452px;
    margin-top: 32px;
    opacity: 1;
    transition: height 0.25s, margin 0.25s, opacity 0.15s 0.125s;
}

// // // // // // // // // // // // // // // // // // // //

.summary {
    display: none;

    &__title {
    }

    &__text {
    }
}

// // // // // // // // // // // // // // // // // // // //
