// // // // // // // // // // // // // // // // // // // //

.section {
    padding: 0 24px;

    @media only screen and (min-width: 768px) {
        padding: 0 40px;
    }
}

.wrapper {
    max-width: 500px;
    margin: 0 auto 120px auto;

    @media only screen and (min-width: 768px) {
        max-width: 730px;
        margin-bottom: 144px;
    }
}

// // // // // // // // // // // // // // // // // // // //

.question {
    &:not(:last-child) {
        margin-bottom: 110px;

        @media only screen and (min-width: 768px) {
            margin-bottom: 100px;
        }
    }
}

.rotate_arrow {
    transform: rotate(180deg);
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    cursor: pointer;

    h2 {
        pointer-events: none;

        font-family: var(--fraunces);
        color: var(--color-grey);
        text-align: left;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;

        @media only screen and (min-width: 768px) {
            font-size: 32px;
            line-height: 48px;
        }
    }

    div {
        margin-left: 64px;

        @media only screen and (min-width: 768px) {
            margin-left: 0;
        }
    }

    svg {
        transition: transform 0.25s;
        pointer-events: none;
    }
}

// // // // // // // // // // // // // // // // // // // //

.boxes_wrapper {
    display: none;
    opacity: 0;
    height: 0;

    transition: height 0.25s, margin 0.25s;

    @media only screen and (min-width: 768px) {
        justify-content: space-between;
    }
}

.display_block {
    display: block;

    @media only screen and (min-width: 768px) {
        display: flex;
    }
}

.set_height {
    margin-top: 32px;
    height: 452px;

    @media only screen and (min-width: 768px) {
        margin-top: 40px;
        height: 250px;
    }
}

.set_opacity {
    transition: height 0.25s, margin 0.25s, opacity 0.15s 0.2s;
    opacity: 1;
}

.box {
    height: 140px;
    background-color: hsla(43, 30%, 94%, 1);
    border-radius: 8px;
    padding: 24px 25px;

    color: var(--color-dark-grey-blue);

    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    &:hover {
        background-color: var(--color-pale-orange);
        color: var(--color-dark-grey-blue);
    }

    @media only screen and (min-width: 768px) {
        max-width: 223px;
        height: 250px;
    }
}

.active_box {
    background-color: var(--color-dark-cyan);
    color: var(--color-white);
}

.title {
    font-family: var(--fraunces);
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;

    pointer-events: none;
    margin-bottom: 8px;

    @media only screen and (min-width: 768px) {
        margin-bottom: 24px;
    }
}

.text {
    font-family: var(--barlow);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    pointer-events: none;
}

// // // // // // // // // // // // // // // // // // // //

.summary {
    margin-bottom: 120px;
}

// // // // // // // // // // // // // // // // // // // //
