// // // // // // // // // // // // // // // // // // // //

.section {
}

.wrapper {
    position: relative;
    padding: 0 24px;
}

.upper_box {
    background-color: hsla(216, 17%, 21%, 1);
    height: 902px;
    border-radius: 10px;
    padding: 64px 24px 0 24px;
}

.title {
}

.text {
}

.lower_box {
    position: absolute;
    top: 305px;
}

// // // // // // // // // // // // // // // // // // // //
