// // // // // // // // // // // // // // // // // // // //

.footer {
    padding: 0 24px 72px 24px;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--color-grey-bg);
}

// // // // // // // // // // // // // // // // // // // //

.logo {
}

// // // // // // // // // // // // // // // // // // // //

.nav {
    list-style: none;

    &__item {
    }
}

.link,
.link:link,
.link:visited {
}

// // // // // // // // // // // // // // // // // // // //

.sm_icons {
    list-style: none;

    li {
    }
}

.icon_link,
.icon_link:link,
.icon_link:visited {
}

.icon {
    path {
    }
}

// // // // // // // // // // // // // // // // // // // //
