// // // // // // // // // // // // // // // // // // // //

.section {
    margin-bottom: 120px;

    @media only screen and (min-width: 768px) {
        padding: 0 40px;
        margin-bottom: 144px;
    }

    @media only screen and (min-width: 1110px) {
        margin-bottom: 168px;
    }
}

.wrapper {
    text-align: center;
    font-family: var(--fraunces);

    @media only screen and (min-width: 768px) {
        text-align: left;
        max-width: 689px;
        margin: 0 auto;
    }

    @media only screen and (min-width: 1110px) {
        max-width: 1045px;
    }
}

// // // // // // // // // // // // // // // // // // // //

.title {
    color: var(--color-grey);
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;

    margin-bottom: 72px;
}

.content_wrapper {
    @media only screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

.box {
    @media only screen and (min-width: 768px) {
        width: 223px;
    }

    @media only screen and (min-width: 1110px) {
        width: 285px;
    }

    svg {
        margin-bottom: 47px;
    }

    h2 {
        color: var(--color-dark-grey-blue);
        font-weight: 900;
        font-size: 28px;
        line-height: 36px;

        margin-bottom: 22px;

        @media only screen and (min-width: 768px) {
            font-size: 24px;
            margin-bottom: 21px;
        }

        @media only screen and (min-width: 1110px) {
            font-size: 32px;
            margin-bottom: 24px;
        }
    }

    ul {
        list-style: none;
        color: var(--color-dark-grey-blue);
        font-family: var(--barlow);
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }

    &:not(:last-child) {
        margin-bottom: 80px;

        @media only screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    }
}

// // // // // // // // // // // // // // // // // // // //
