// // // // // // // // // // // // // // // // // // // //

.header {
    position: relative;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 548px;
    margin: 0 auto;
    padding: 23.5px 14px 31.5px 24px;

    @media only screen and (min-width: 768px) {
        max-width: 1360px;
        padding: 40px 40px 53px 40px;
    }
}

.logo_link {
    display: flex;
}

.logo {
    width: 163px;
    height: 18px;

    @media only screen and (min-width: 768px) {
        width: 237px;
        height: 27px;
    }
}

.nav_btn {
    display: flex;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @media only screen and (min-width: 768px) {
        display: none;
        visibility: hidden;
    }

    img {
        width: 16px;
        height: 15px;
        pointer-events: none;
    }
}

// // // // // // // // // // // // // // // // // // // //

.nav {
    @media only screen and (max-width: 767px) {
        position: absolute;
        top: 90px;
        left: 0;
        z-index: 5;
        width: 100vw;
        height: 577px;
        // prettier-ignore
        background: linear-gradient(to top, rgba(254, 252, 247, 0.504981) 0%, #fefcf7 55.94%);
        padding: 40px 0;
        display: none;
    }

    @media only screen and (min-width: 768px) {
        margin-left: auto;
    }
}

.ul {
    list-style: none;

    @media only screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.li {
    &:not(:last-child) {
        @media only screen and (max-width: 767px) {
            margin-bottom: 32px;
        }

        @media only screen and (min-width: 768px) {
            margin-right: 12px;
        }
    }
}

.link,
.link:link,
.link:visited {
    display: flex;
    justify-content: center;
    transition: color 0.15s;

    font-family: var(--fraunces);
    color: var(--color-dark-grey-blue);
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;

    @media only screen and (min-width: 768px) {
        font-family: var(--barlow);
        color: var(--color-grey);
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        padding: 6px 10px;
    }

    &:hover {
        color: var(--color-dark-grey-blue);
    }
}

.open {
    @media only screen and (max-width: 767px) {
        display: block;
    }
}

// // // // // // // // // // // // // // // // // // // //
