// // // // // // // // // // // // // // // // // // // //

.section {
    max-width: 548px;
    margin: 0 auto 120px auto;
    padding: 0 24px;

    @media only screen and (min-width: 768px) {
        max-width: 1360px;
        margin-bottom: 144px;
        padding: 0 40px;
    }

    @media only screen and (min-width: 1110px) {
        margin-bottom: 168px;
    }
}

.wrapper {
    width: 100%;
    border-radius: 10px;
    padding: 24px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;

    @media only screen and (min-width: 768px) {
        padding: 0 58px;
        text-align: left;
    }

    @media only screen and (min-width: 1110px) {
        padding: 0 85px;
    }
}

.home {
    height: 500px;
    background-image: url(./../assets/home/mobile/image-hero-coffeepress.jpg);

    @media only screen and (min-width: 768px) {
        background-image: url(./../assets/home/tablet/image-hero-coffeepress.jpg);
    }

    @media only screen and (min-width: 1110px) {
        background-image: url(./../assets/home/desktop/image-hero-coffeepress.jpg);
    }
}

.about {
    height: 400px;
    background-image: url(./../assets/about/mobile/image-hero-whitecup.jpg);

    @media only screen and (min-width: 768px) {
        background-image: url(./../assets/about/tablet/image-hero-whitecup.jpg);
    }

    @media only screen and (min-width: 1110px) {
        background-image: url(./../assets/about/desktop/image-hero-whitecup.jpg);
    }
}

.plan {
    height: 400px;
    background-image: url(./../assets/plan/mobile/image-hero-blackcup.jpg);

    @media only screen and (min-width: 768px) {
        background-image: url(./../assets/plan/tablet/image-hero-blackcup.jpg);
    }

    @media only screen and (min-width: 1110px) {
        background-image: url(./../assets/plan/desktop/image-hero-blackcup.jpg);
    }
}

.content_wrapper {
    max-width: 398px;
    margin: 0 auto;

    @media only screen and (min-width: 768px) {
        margin: revert;
    }

    @media only screen and (min-width: 1110px) {
        max-width: 500px;
    }
}

.title {
    font-family: var(--fraunces);
    color: var(--color-light-cream);
    font-weight: 900;
    font-size: 40px;
    line-height: 40px;

    margin-bottom: 24px;

    @media only screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 48px;
    }

    @media only screen and (min-width: 1110px) {
        font-size: 72px;
        line-height: 72px;
        margin-bottom: 32px;
    }
}

.text {
    font-family: var(--barlow);
    color: var(--color-light-cream);
    opacity: 0.8;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;

    margin-bottom: 40px;

    @media only screen and (min-width: 1110px) {
        max-width: 430px;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 56px;
    }
}

.link,
.link:link,
.link:visited {
    font-family: var(--fraunces);
    color: var(--color-light-cream);
    text-decoration: none;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 217px;
    height: 56px;
    margin: 0 auto;
    background-color: var(--color-dark-cyan);
    border-radius: 6px;

    transition: background-color 0.15s;

    &:hover {
        background-color: var(--color-dark-cyan-hover);
    }

    @media only screen and (min-width: 768px) {
        margin: 0;
    }
}

// // // // // // // // // // // // // // // // // // // //
