// // // // // // // // // // // // // // // // // // // //

.section {
    text-align: center;
    margin-bottom: 120px;

    @media only screen and (min-width: 768px) {
        text-align: left;
        margin-bottom: 144px;
    }
}

.wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 24px;

    @media only screen and (min-width: 768px) {
        max-width: 955px;
        padding: 0 40px;
    }

    @media only screen and (min-width: 1110px) {
        max-width: 1360px;
    }
}

.wrapper_black {
    border-radius: 10px;
    background-color: hsla(216, 17%, 21%, 1);
}

// // // // // // // // // // // // // // // // // // // //

.title {
    font-family: var(--fraunces);
    color: var(--color-grey);
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;

    margin-bottom: 80px;

    @media only screen and (min-width: 768px) {
        margin-bottom: 40px;
    }
}

.empty_title {
    padding-bottom: 80px;

    @media only screen and (min-width: 768px) {
        padding-bottom: 97px;
    }
}

.circles {
    display: none;

    @media only screen and (min-width: 768px) {
        display: flex;
        column-gap: 202px;
        margin-bottom: 48px;
        position: relative;
    }

    &::after {
        @media only screen and (min-width: 768px) {
            content: '';
            position: absolute;
            z-index: 0;
            top: 50%;
            transform: translateY(-50%);
            left: 14.5px;

            width: 467px;
            height: 2px;
            background-color: var(--color-pale-orange);
        }
    }
}

.circle {
    @media only screen and (min-width: 768px) {
        width: 31px;
        height: 31px;
        border-radius: 50%;
        border: 2px solid var(--color-dark-cyan);
        position: relative;
        z-index: 1;
    }
}

.bg_white {
    @media only screen and (min-width: 768px) {
        background-color: var(--color-light-cream);
    }
}

// // // // // // // // // // // // // // // // // // // //

.content_wrapper {
    @media only screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 285px));
        column-gap: 10px;
    }
}

.text_white {
    color: var(--color-white);
}

.text_grey {
    color: var(--color-dark-grey-blue);
}

.box {
    &:not(:last-child) {
        margin-bottom: 56px;

        @media only screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    }
}

.num {
    font-family: var(--fraunces);
    color: var(--color-pale-orange);
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;

    margin-bottom: 24px;

    @media only screen and (min-width: 768px) {
        margin-bottom: 42px;
    }
}

.sub_title {
    font-family: var(--fraunces);
    font-weight: 900;
    font-size: 28px;
    line-height: 32px;

    margin-bottom: 24px;

    @media only screen and (min-width: 768px) {
        margin-bottom: 38px;
    }
}

.text {
    font-family: var(--barlow);
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}

// // // // // // // // // // // // // // // // // // // //

.btn {
    margin-top: 79px !important;

    @media only screen and (min-width: 768px) {
        margin-top: 44px !important;
    }
}

.empty_btn {
    padding-top: 79px;

    @media only screen and (min-width: 768px) {
        margin-bottom: 96px;
    }
}

// // // // // // // // // // // // // // // // // // // //
